* {
    font-family: "Roboto", sans-serif;
}
.header {
    background-image: url(img/background.jpg);
    width: 98vw;
    height: 50vw;
    display: flex;
    opacity: 0.8;
}
.icons {
    color: white;
    margin: 0 3vw;
}
.icons i{
    margin: 0.8vw;
    font-size: 1.5vw;
}
.icons i:hover{
   color: rgb(158, 156, 156); 
}
.title {
    color: white;
    line-height: 1;
    margin-top: 15vw;
    margin-left: 5vw;
}
.hello {
    font-size: 3.7vw;
}
.john {
    font-size: 10vw;
    color: #d1d1d0;
}
.developer {
    font-size: 1.7vw;
    letter-spacing: 0.6vw;
}
.print {
    background-color: #fc5b71;
    padding: 0.6vw;
    border-color: #fc5b71;
    color: white;
    border-radius: 2vw;
    margin-top: 4vw;
    width: 15vw;
    height: 3.7vw;
    font-size: 1.5vw;
}
.print:hover{
    background-color: #f7465d;
    border-color: #f7465d;
}
a{
    text-decoration: none;
    color: inherit;
}
.nav {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 98vw;
    z-index: 1;
}
.nav ul {
    padding: 0vw 5vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    list-style: none;
    color: black;
    font-size: 1.3vw;
}
.active{
    color: #fc5b71
}
/* nav bar center (john doe) */
.nav ul li:nth-child(4) {
    text-align: center;
    margin: 0 4vw !important;
    line-height: 0.01;
}
.nav ul li:nth-child(4) p:last-child{
    color: rgb(158, 156, 156);
    line-height: 1.2vw;
    font-size: 1vw;
}
/* About Me & My Resume */
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* My Resume */
.flex:nth-child(2){
    align-items: flex-start;
}
.column {
    width: 33vw;
    padding: 5vw;
    border-right: 0.01vw solid rgb(158, 156, 156);
    border-bottom: 0.01vw solid rgb(158, 156, 156);
    border-collapse: collapse;
}
.column:nth-child(3) {
    border-right: none;
}
.icons2 {
    display: flex;
    justify-content: flex-start;
    color: #fc5b71;
    font-size: 1.4vw;
    margin-top: 3vw;
}
.icons2 i {
    margin-right: 2vw;
}
.key {
    font-size: 1.2vw;
}
.sub_title {
    font-size: 2vw;
}
.icon {
    color: #fc5b71;
    margin-right: 1vw;
    font-size: 2vw;
}
.row {
    display: flex;
    align-items: center;
}
.row div,
.column2 div p:nth-child(3) {
    border-bottom: 0.01vw solid rgb(158, 156, 156);
}
.value {
    color: rgb(158, 156, 156);
    font-size: 1.1vw;
}
.job-title {
    font-size: 1.8vw;
}
.download {
    color: #fc5b71;
    background-color: white;
    border: 0.01vw solid #fc5b71;
    border-radius: 0.5vw;
    padding: 0.6vw;
    font-size: 1.2vw;
    width: 12vw;
    height: 3vw;
}
.download:hover{
    color: white;
    background-color: #fc5b71;
}
.underline {
    border-bottom: 0.1vw solid #fc5b71;
}
.my-resume,
.my-services{
    font-size: 3vw;
    margin: 2vw;
}
/* My word */
.my{
    color: #fc5b71;
}
.column2{
    width: 28.5vw;
    padding: 1vw;
    border: 0.01vw solid rgb(158, 156, 156);
}
.skills,.lang{
    padding: 1vw;
    border: 0.01vw solid rgb(158, 156, 156);
}
/* To make space between the boarder and text */
.column2 div p:nth-child(3) {
    padding-bottom: 2vw;
}
/* to remove boarder-bottom from last div */
.column2 div:nth-child(4) p {
    border: none;
}
.intervel {
    color: #fc5b71;
    line-height: 0.1;
    font-size: 1.5vw;
}
.lang div,
.skills div{
    line-height: 1vw;
    margin: 1vw 0;
}
/* Subjects */
label {
    font-size: 1.5vw;
    height: 0.5vw;
}
progress {
    width: 26vw;
    height: 1.3vw;
}
/* Skills & Languages  */
.column2:nth-child(3){
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
}
.lang{
    margin-top: 2vw;
}
.finished-items{
    display: flex;
    background-color: #2d3136;
    justify-content: space-between;
    margin: 5vw 0;
    padding: 5vw 2vw;
}
.finished{
    display: flex;
    align-items: center;
}
.finished div{
    border-left: 0.01vw solid rgb(158, 156, 156);
    padding: 0 1vw;
    line-height: 0.01;
}
.finished div p:nth-child(1){
    color: #fc5b71;
    font-size: 3vw;
}
.finished div p:nth-child(2){
    color: rgb(158, 156, 156);
    font-size: 1vw;
}

.finished i{
    color: rgb(158, 156, 156);
    font-size: 4vw;
    padding: 0 1vw;
}

.flex-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column3{
    width: 30vw;
    margin-bottom: 2vw;
}

.legend-title{
    font-size: 2.5vw;
}
fieldset{
    border: 0.01vw solid rgb(219, 217, 217);
}
legend i{
    color: #fc5b71;
}
.legend-value{
    color: rgb(158, 156, 156);
    font-size: 1.2vw;
}

.available{
    display: flex;
    justify-content: center;
    background-color: #2d3136;
    margin: 5vw 0;
    padding: 5vw 2vw;
    align-items: center;
    flex-direction: column;
}

.available p{
    color: white;
    font-size: 3vw;
}

.available button{
    color: black;
    background-color: #fc5b71;
    border: none;
    border-radius: 0.5vw;
    padding: 0.6vw;
    font-size: 1.5vw;
    width: 15vw;
    height: 4vw;
}
.available button:hover,
.subscribe:hover,
form button:hover{
    background-color: #f7465d;
}

.packs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pack{
    width: 20vw;
    padding: 1vw;
    text-align: center;
    border: 0.01vw solid rgb(158, 156, 156);
    color: #53565a;
    position: relative;
    overflow: hidden;
}

.pack:nth-child(3){
    align-content: center;
    height: 36vw;
}
.new{
    color: #fc5b71;
}
.new-tag{
    position: absolute;
    top: 1vw;
    right: -2.3vw;
    font-size: 1vw;
    background-color: #f7465d;
    color: white;
    padding: 0.7vw;
    width: 8vw;
    transform: rotate(45deg);
}
.pack p:nth-child(1){
    font-size: 2vw;
}
b{
    font-size: 5vw;
}
.pack p:nth-child(2){
    font-size: 1vw;
}
sup{
    font-size: 1.8vw;
}
.pack span{
    color: black;
}
.pack p{
    font-size: 1.1vw;
    line-height: 2vw;
}
.subscribe{
    color: white;
    background-color: #fc5b71;
    border: none;
    border-radius: 2vw;
    padding: 0.6vw;
    font-size: 1.5vw;
    width: 12vw;
    height: 3vw;
    margin: 2vw 0;
}
.navbar{
    display: flex;
    justify-content: center;
}
.small-nav{
    width: 35vw;
    border-bottom: 0.01vw solid rgb(212, 210, 210);
}
.small-nav ul {
    padding: 0vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: rgb(158, 156, 156);
    font-size: 1.1vw;
}
.small-nav ul li{
    padding: 0.6vw;
}
.container{
    width: 90vw;
    margin: auto;
    padding: 4vw 0;
}
.images{
    display: flex;
    gap: 1vw;
    justify-content: center;
}
.image-column{
    width: calc(80vw/3);
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.image{
    position: relative;
}
.image img{
    width: 100%;
    height: 100%;
}
.image-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f83f58;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    opacity: 0;
}
.image-content h6{
    font-size: 2vw;
    line-height: 0.6vw;
}
.image-content p{
    font-size: 1.4vw;
}
.image:hover > *{
    opacity: 0.5;
}
.select{
    background: #fc5b71;
    color: white;
}
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.01vw solid rgb(212, 210, 210);
    margin-bottom: 1vw;
}
.blog img{
    width: 17vw;
    height: 17vw;
}
.blog div:last-child{
    padding: 2vw 1vw;
}
.blog div:last-child p:first-child{
    font-size: 1.8vw;
    color: #53565a;
    margin: 0;
    padding: 0;
}
.blog div:last-child p:last-child{
    font-size: 1.2vw;
    color: rgb(158, 156, 156);
}
.map{
    position: relative;
}
.send-message{
    background-color: white;
    position: absolute;
    top: 10vw;
    width: 30vw;
    right: 42vw;
    padding: 1vw;
}
form{
    display: flex;
    flex-direction: column;
    padding: 1vw;
}
form button{
    border: none;
    background: #fc5b71;
    color: white;
    font-size: 1vw;
}
.form-item{
    margin: 0.5vw 0;
    border-radius: 0.4vw;
    border: 0.01vw solid rgb(212, 210, 210);
    padding: 0.5vw;
}
.send-message p
.touch p:first-child{
    font-size: 1.5vw !important;
}
.touch{
    background-color: white;
    position: absolute;
    top: 10vw;
    width: 20vw;
    right: 15vw;
    padding: 1vw;
}
.touch-flex{
    display: flex;
    align-items: center;
    margin: 0 1vw;
}
.touch-flex div{
    margin: 0 1vw;
    line-height: 0.9vw;
    font-size: 1vw;
}
.touch-flex i{
    font-size: 1.8vw;
    color: #fc5b71;
}
.touch-icons i{
    margin: 2vw 1vw;
}
.touch-flex div p:last-child{
    color: rgb(158, 156, 156);
}
